/bin
/include
/lib

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
pyvenv.cfg

# IDE and editor directories
.vscode/
.idea/
*.swp

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db